.popup-content {
    display: inline-block;
    position: fixed;
    top: 3%;
    right: 3%;
    width: 20%;
    border: double 3px transparent;
    border-radius: 8px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    z-index: 1000;
}

.popup-message {
    font-size: 16px;
}

.popup-container {
    cursor: pointer;
    display: none;
    text-align: center;
}

.popup-close-button {
    position: relative;
    float: right;
    font-size: 20px;
    width: 30px;
    height: 30px;
}

.popup-create-form {
    position: fixed;
    left: 20%;
    width: 60%;
}